extends ../_layout

block app-title
    | Event | EventManagementSystem

block vars
   - var bodyClass = 'profile';

block content
    .top-container
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                    h1 Event Details
                    .row
                    .col-sm-8.col-sm-offset-2.text
                        strong
                            h1= event.name
                    div(class='event-info' id=event.id)
                        if event.coverUrls[0]
                            img(src= event.coverUrls[0] style={width: '800px', height: '480px'})
                        else
                            img(src= event.coverUrl style={width: '800px', height: '480px'})
                    p='Date: ' + event.dateOfEvent.getFullYear() + '/' + (event.dateOfEvent.getMonth() + 1) + '/' + event.dateOfEvent.getDate()
                    p='Time: ' + (event.dateOfEvent.getHours()<10?'0':'') + event.dateOfEvent.getHours() + ':' + (event.dateOfEvent.getMinutes()<10?'0':'') + event.dateOfEvent.getMinutes() + 'h'
                    p='Description: ' + event.description
                    p='Country: ' + event.country.name
                    p='City: ' + event.city.name
                    p='Address: ' + event.address
                    if(event.capacity)
                        p='Capacity: ' +  event.capacity
                    else
                        p='Capacity: unlimited'
                        p='Author: ' + event.user.name
                    a(class='like-btn btn btn-default like')
                        span(class='glyphicon glyphicon-thumbs-up')
                        span= event.usersWhoLikeThis.length
                    a(class='dislike-btn btn btn-default dislike')
                        span(class='glyphicon glyphicon-thumbs-down')                            
                        span= event.usersWhoDislikeThis.length    
                    input(type="text"
                        name="comment"
                        placeholder="Comment.."
                        class="form-comment form-control"
                        id="comment-input")
                    button(type="button" class="btn" id="comment-button") Add Comment
                    h2='Comments'
                    strong
                        each comment in event.comments
                            p='Comment:' + comment.text
                            p='Author:' + comment.author
                            

block specificJs
    script(src="/static/scripts/events/comment-event.js")
    script(src="/static/scripts/events/rate-event.js")
    