extends ../_layout

block app-title
    | Event | EventManagementSystem

block vars
   - var bodyClass = 'profile';

block content
    .top-container
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                    h1 Event Details 
                    .row
                    .col-sm-8.col-sm-offset-2.text
                        strong
                            h1= event.name
                    div
                        img(src= event.coverUrl)
                    p='Date:' + event.dateOfEvent.getFullYear() + '/' + (event.dateOfEvent.getMonth() + 1) + '/' + event.dateOfEvent.getDate()
                    p='Time:' + (event.dateOfEvent.getHours()<10?'0':'') + event.dateOfEvent.getHours() + ':' + (event.dateOfEvent.getMinutes()<10?'0':'') + event.dateOfEvent.getMinutes() + 'h'
                    p='Description:' + event.description
                    p='Location:' + event.location
                    p='Capacity:' + event.capacity