extends ../_layout

block app-title
    | Events | EventManagementSystem

block vars
   - var bodyClass = 'profile';

block content
    .top-container
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                    h1 Events
                    .row
                    .col-sm-8.col-sm-offset-2.text
                        h2 Here you can discover all events
                            .form-box
                                each event in events
                                    strong 
                                        h1
                                            strong='Category:' +  event.type
                                    each sortedEvent in event.events
                                        strong
                                            a(href='events/' + sortedEvent.id)= sortedEvent.name
                                        div
                                            img(src= sortedEvent.coverUrl)
                                        p='Date:' + sortedEvent.dateOfEvent.getFullYear() + '/' + (sortedEvent.dateOfEvent.getMonth() + 1) + '/' + sortedEvent.dateOfEvent.getDate()
                                        p='Time:' + (sortedEvent.dateOfEvent.getHours()<10?'0':'') + sortedEvent.dateOfEvent.getHours() + ':' + (sortedEvent.dateOfEvent.getMinutes()<10?'0':'') + sortedEvent.dateOfEvent.getMinutes() + 'h'
                                        p='Description:' + sortedEvent.description
                                        p='Location:' + sortedEvent.location


